---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="About me"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="column-container">
        <div class="column"> 
          <img src="/profile_image.jpg" class="profile_image">
          <h6>15/10/2002</h6>
          <hr>
          <h3>About me</h3>
          <p class="description">I am a Software Developer looking forward to learning and working on new technologies and frameworks
          Currently coursing my Bachelor's degree</p>
          <hr>
          <h3>Soft skills</h3>
          <p>Communicating Skills<br>
            Good at team work<br>
            Fast learner</p>
        </div>
        <div class="column">
          <h2>Column 2</h2>
          <p>This is the content of column 2.</p>
        </div>
    </div>
</BaseLayout>