---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="About me"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="sandbox">
    <div class="column-container">
        <div class="column"> 
          <div style="display: grid; place-items: center;">
            <img src="/profile_image.jpg" class="profile_image" >
            <h6>15/10/2002</h6>
          </div>
          <hr class="hr_white">
          <div>
            <h3 style="text-align: center; margin-bottom: 0px;">About me</h3>
            <p class="description">I am a Software Developer looking forward to learning and working on new technologies and frameworks. 
            Currently coursing my Bachelor's degree</p>
          </div>
          <hr class="hr_white">
          <div>
            <h3 style="margin-bottom: 0px; text-align: center;">Soft skills</h3>
            <p style="text-align: center;">Communicating Skills<br>
            Good at team work<br>
            Fast learner</p> 
          </div>
        </div>

        <div class="column">
          <h1 class="name", style="margin-bottom: 0px;">César Sánchez Alegría</h1>
          <h2 style="margin-top:0px;">Software Developer</h2>
          <hr class="hr_black", style="margin-left:00px;">
          <h2>Professional Experience</h2>
          <h3>Highbits S.A. de C.V.| Aug 2022 - Sept 2022</h3>
          <ul class="skills">
            <li>User interface design</li>
            <li>Documentation</li>
            <li>Php programming</li>
            <li>Plugin insertion on wordpress projects</li>
          </ul>
          <h3>Universidad Politécnica de Chiapas| Dec 2022 - Jan 2023</h3>
          <ul class="skills">
            <li>Flutter examples</li>
            <li>Project documentation</li>
            <li>User interface design</li>
          </ul>
        </div>
    </div>
  </div>
</BaseLayout>