---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="About me"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="column-container">
        <div class="column"> 
          <img src="/profile_image.jpg" class="profile_image">
          <h6>15/10/2002</h6>
          <hr class="hr_white">
          <h3>About me</h3>
          <p class="description">I am a Software Developer looking forward to learning and working on new technologies and frameworks. 
          Currently coursing my Bachelor's degree</p>
          <hr class="hr_white">
          <h3>Soft skills</h3>
          <p>Communicating Skills<br>
          Good at team work<br>
          Fast learner</p> 
        </div>
        <div class="column">
          <h1 class="name">César Sánchez Alegría</h1>
          <h2>Software Developer</h2>
          <hr class="hr_black">
          <h2>Professional Experience</h2>
          <h3>Highbits S.A. de C.V.| Aug 2022 - Sept 2022</h3>
          <ul class="skills">
            <li>User interface design</li>
            <li>Documentation</li>
            <li>Php programming</li>
            <li>Plugin insertion on wordpress projects</li>
          </ul>
          <h3>Universidad Politécnica de Chiapas| Dec 2022 - Jan 2023</h3>
          <ul class="skills">
            <li>Flutter examples</li>
            <li>Project documentation</li>
            <li>User interface design</li>
          </ul>
        </div>
    </div>
</BaseLayout>